// Override CSS rules with that file
body[data-theme="dark"] img {
  filter: brightness(80%);
}

body[data-theme="dark"] a:hover {
  filter: brightness(130%) !important;
}

body[data-theme="light"] a:hover {
  filter: brightness(70%) !important;
}

::selection {
  background-color: var(--color-selection);
  color: var(--color-font);
}

.markdown-body {
  line-height: 1.6;
}

a {
  color: var(--color-primary);
}
a:hover {
  color: var(--color-secondary);
}

.sidebar-tags a, .post-meta a {
  color: var(--color-third);
}
.sidebar-tags a:hover, .post-meta a:hover {
  color: var(--color-third);
  // filter: brightness(130%) !important;
}

.sidebar-links a {
  color: var(--color-focus);
}
.sidebar-links a:hover {
  color: var(--color-focus);
  // filter: brightness(130%) !important;
}

// center
.center, .markdown-body img, img {
  position: relative;
  transform: translate(-50%);
  left: 50%;
}
/* center for text */
.center {
  width: fit-content;
  width: -moz-fit-content; /* for Firefox */
  max-width: 500px;
  margin-bottom: 20px;
}

// image style
.markdown-body img, img {
  border-radius: 15px;
  max-height: 700px;
}

// blockquote
.markdown-body blockquote {
  // font-family: "Montserrat", sans-serif;
  // color: var(--color-third);
}

// codeblock

.markdown-body pre, .markdown-body code {
  border-radius: 20px;
}

// .countryclub::before {
//   // content: "You're not welcomed, go away";
//   content: attr(marsey-text);
//   visibility: visible;
//   font-family: impact;
//   font-size: large;
//   color: var(--color-primary);
//   text-shadow: 0 0 0px rgba(0,0,0,0.5);
// }